$primary-color: rgba(197, 233, 247, 1);
$secondary-color: #146c94;
$third-color: #50b058;
// $yellow-color: #f7c815;
$yellow-color: #fad542;
$light-gray: rgb(236, 231, 231);
$cancel: rgb(149, 146, 146);
$dark: #333;
$black: #000;
$white: #fff;
$modalContainer: rgba(0, 0, 0, 0.6);
$modal-duration: 0.6s;
$blur: rgba(0, 0, 0, 0.3);
