@import "variables";

.sub-heading {
  text-align: center;
  padding: 5rem 3rem;
  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: $secondary-color;
  }
  p {
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .sub-heading {
    padding: 5rem 0;

    button {
      width: 100%;
    }
  }
}
