@import "variables";

.career {
  padding: 3rem 2rem;

  &:nth-last-of-type(1) {
    margin-bottom: 3rem;
  }

  .container {
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;

      .left {
        @include flex-between;
        width: 100%;
        padding: 2rem 0 1rem 1rem;
        border-bottom: 1px solid #000;
        h2 {
          font-size: 1.8rem;
          margin-bottom: 0;
          max-width: 860px;
          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
        .icon {
          @include flex-center;
          rotate: 90deg;
          // width: 64px;
          // height: 64px;
          padding: 0.6rem 1.2rem;
          transition: all 0.2s ease-in-out;

          &:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, 0.1);
            border-radius: 50%;
          }

          &.rotate {
            rotate: -90deg;
          }
        }
      }
      a {
        width: 15%;
        min-width: 180px;
      }
    }
    .content {
      margin-top: 3rem;

      ol {
        margin-left: 2rem;
      }

      &.hidden {
        display: none;
      }
      h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      p {
        a {
          color: $secondary-color;
          border-bottom: 1px solid $secondary-color;
          font-weight: 600;

          &:hover {
            opacity: 0.6;
          }
        }
      }

      ul {
        li {
          list-style-type: disc;
          margin-left: 2rem;
        }
      }

      .interested {
        margin: 3rem 0;
        text-align: center;

        .btn-primary {
          max-width: 500px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .career {
    padding: 2rem;
    .container {
      .title {
        .left {
          h2 {
            font-size: 1.8rem;
          }
        }
        button {
          font-size: 1.2rem;
        }
      }

      .content {
        h3 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 730px) {
  .career {
    padding: 1rem;
  }
}

@media screen and (max-width: 628px) {
  .career {
    .container {
      .title {
        flex-direction: column;
        .left {
          width: 100%;
        }
        a {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .career {
    .container {
      padding: 0;
      .title {
        .left {
          h2 {
            text-align: left;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
