@import "./variables";

.footer {
  @include flex-center();
  background-color: $primary-color;
  height: 200px;
  width: 100%;

  margin-top: auto;

  .container {
    @include flex-between;
    width: 100%;
    padding: 2rem;
    .left {
      display: flex;
      flex-direction: column;

      a {
        font-size: 1.2rem;

        font-weight: 400;
        color: $dark-blue;
        &:hover {
          opacity: 0.5;
        }
      }

      .email {
        letter-spacing: 1px;
        transition: opacity 0.2s ease-in;
        &:hover {
          opacity: 0.5;
        }
      }
    }

    img {
      transition: opacity 0.2s ease-in;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .footer {
    height: 290px;
    .container {
      flex-direction: column-reverse;
      text-align: center;
      padding: 1.5rem 1rem;

      .left {
        margin-top: 1rem;
      }
    }
  }
}
