@import "variables";

.founder {
  padding: 5rem 2rem;
  .container {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 2rem;

    .left {
      .companies {
        @include flex-center;
        flex-direction: column;
        &:nth-child(1) {
          margin: 1rem auto;
        }
      }

      .image {
        margin: auto;
        max-width: 260px;

        img {
          width: 100%;
        }
      }
    }
    .right {
      li {
        margin-left: 2rem;
        font-size: 18.5px;
        list-style-type: disc;
        color: $secondary-color;
        span {
          color: #000;
        }
      }
    }
  }
}

.recognition {
  padding: 5rem 0;
  text-align: center;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  iframe {
    height: 600px;
    width: 1000px;
    object-fit: cover;
    margin-top: 1rem;
  }

  .awards {
    @include flex-center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
    .image {
      max-width: 300px;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1045px) {
  .founder {
    padding: 5rem 0 0 0;
    .container {
      grid-template-columns: 1fr;
      .left {
        @include flex-center;
        flex-direction: column;

        .companies {
          margin-top: 3rem;
          flex-direction: row;
          gap: 2rem;
        }
        .image {
          max-width: 200px;
        }
      }
    }
  }

  .recognition {
    iframe {
      height: 360px;
      width: 600px;
      object-fit: cover;
      margin-top: 1rem;
    }

    .awards {
      .image {
        max-width: 250px;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .founder {
    padding: 5rem 2rem;

    .container {
      .right {
        li {
          margin-left: 1rem;
        }
      }
    }
  }

  .recognition {
    iframe {
      min-height: 400px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 375px) {
  .founder {
    .container {
      .left {
        .companies {
          flex-direction: column;
        }
      }
    }
  }

  .recognition {
    padding-top: 3rem;
    h2 {
      font-size: 2rem;
      padding: 0 1rem;
    }
    iframe {
      min-height: unset;
    }
  }
}
