@import "variables";

.learn-more {
  padding: 3rem;
  text-align: center;
}

@media screen and (max-width: 660px) {
  .learn-more {
    padding: 1rem;

    .container {
      padding: 0;
      h2 {
        font-size: 2rem;
      }
    }
  }
}
