@import "variables";

.learn-more-btn {
  // background-color: $primary-color;
  padding: 3rem;
  text-align: center;
  margin-bottom: 8rem;
}

@media screen and (max-width: 660px) {
  .learn-more-btn {
    padding: 1rem;

    .container {
      padding: 0;
      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media screen and (max-width: 388px) {
  .learn-more-btn {
    .container {
      h2 {
        font-size: 1.5rem;
      }
      button {
        width: 100%;
      }
    }
  }
}
