@import "variables";

.learned {
  text-align: center;
  padding: 5rem;
  background-color: $primary-color;
  .container {
    h2 {
      margin-bottom: 5rem;
    }

    .flex {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 1200px;
      gap: 3rem 2rem;
      .icon {
        img {
          max-width: 165px;
        }
        p {
          width: 190px;
        }
      }
    }
  }
}
