@import "variables";

.certificates {
  padding: 2rem 0;
  .event {
    padding-top: 3rem;

    &:nth-child(2) {
      padding-bottom: 5rem;
    }
    .awards {
      .image {
        max-width: 500px;
      }
    }
  }
  h2 {
    text-align: center;
  }

  .featured {
    &:nth-child(odd) {
      background-color: $primary-color;
    }
    padding: 5rem 2rem;

    .news {
      h2 {
        a {
          border-bottom: 2px solid $secondary-color;
          &:hover {
            opacity: 0.6;
          }
        }
      }
      .subheading {
        max-width: 800px;
        margin: 2rem auto;
      }
    }
  }

  .invited {
    // background-color: $primary-color;
    // padding: 5rem 2rem;
    margin: 3rem 0 5rem;
    text-align: center;
    .card {
      margin: 2rem 0;
    }
  }
}
