@import "./variables";

.showcase {
  height: auto;
  color: $secondary-color;
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 70vh;

  z-index: 2;
  &-text {
    text-align: center;
    margin: 50px auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      font-size: 50px;
      margin-bottom: 20px;
    }
  }

  &-image {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    img {
      max-width: 100%;
    }
  }
}
.showcase-blog {
  min-height: 300px;
}

.showcase-demo {
  color: #fff;
  text-align: center;
  font-weight: 300;
}
