@import "variables";

.testimonials {
  padding: 5rem;
  text-align: center;
  .container {
    p {
      font-weight: 700;
      font-size: 1.5rem;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin: 3rem 0;
    }
  }
}

@media screen and (max-width: 1150px) {
  .testimonials {
    .container {
      .grid {
        grid-template-columns: 1fr;
      }
    }
  }
}
