@import "variables";

.testimonials {
  padding: 5rem;
  text-align: center;
  .container {
    p {
      font-weight: 700;
      font-size: 1.5rem;
    }
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin: 3rem 0;
    }
  }
}

.testimonials-video {
  padding: 5rem 2rem;
  text-align: center;
  h2 {
    margin-bottom: 2rem;
  }
  iframe {
    height: 576px;
    width: 1024px;
    object-fit: cover;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1150px) {
  .testimonials {
    .container {
      .grid {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 930px) {
  .testimonials {
    padding: 3rem 2rem;
    .container {
      h2 {
        font-size: 2.5rem;
      }
      .grid {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .testimonials {
    .container {
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .testimonials {
    padding: 3rem 1rem;
    .container {
      padding: 0;
    }
  }
}

@media screen and (max-width: 388px) {
  .testimonials {
    .container {
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
