@import "variables";

.what-to-expect {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    a {
      font-weight: 600;
      color: $secondary-color;
    }
    h3 {
      font-size: 1.5rem;
      margin: 1.3rem 0 1rem;
    }

    .text {
      p {
        font-size: 1rem;
      }
      li {
        color: $secondary-color;
        list-style: disc;
        margin-left: 1.5rem;
        span {
          color: #000;
        }
      }

      ol {
        li {
          list-style: decimal;
          font-weight: 500;
          font-size: 1.2rem;

          span {
            font-weight: 400;
            font-size: 1rem;
          }
        }
      }
    }

    .schedule {
      text-align: center;

      .download {
        a {
          font-size: 0.9rem;
        }
      }
      .photos {
        img {
          max-width: 550px;
        }
      }
      .sub-schedule {
        p {
          text-align: left;
          max-width: 550px;
          margin: 10px auto;
          font-size: 1rem;
        }
      }

      .instructors {
        margin-top: 3rem;
      }
    }

    .results {
      grid-column: 1 / span 2;
      margin: 2rem 0 5rem;
      text-align: center;

      h3 {
        font-size: 2rem;
      }

      .flex {
        @include flex-between;
        margin-top: 2rem;
        .num {
          max-width: 325px;
          min-height: 172px;

          &:nth-child(1) {
            h2 {
              color: $yellow-color;
            }
          }
          &:nth-child(2) {
            h2 {
              color: $second-light;
            }
          }
        }
      }
    }
  }
}
