@import "./variables";

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;

  h2 {
    text-align: center;
    color: $secondary-color;
  }

  p {
    font-size: 18px;
    font-weight: 500;
  }

  iframe {
    height: 600px;
    width: 1000px;
    object-fit: cover;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .text {
    padding: 3rem 2rem;
    iframe {
      height: 360px;
      width: 600px;
    }
  }
}

@media screen and (max-width: 600px) {
  .text {
    padding: 1rem;
    iframe {
      height: 300px;
      width: 100%;
    }
  }
}
