---
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Our Program">
  <Showcase
    image="/images/showcase.avif"
    overlayLight={true}
    verticalImage="/images/showcase-vertical.jpeg"
    heading="Our Program"
  />
  <h1>This is the about page</h1>
</Layout>
