---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import WhatToExpect from "../components/WhatToExpect.astro";
import "../styles/about.scss";
---

<Layout title="Our Program">
  <Showcase
    image="/images/hero/program.jpeg"
    overlayLight={true}
    verticalImage="/images/showcase-vertical.jpeg"
    heading="Our Program"
  />
  <!-- Below Showcase -->
  <section class="sub-heading">
    <div class="container">
      <h3>
        The FL2F online program empowers you to transform your ideas into
        successful products through comprehensive training and guidance.
      </h3>
      <p>
        You will gain valuable skills, receive expert support, and have
        networking opportunities to navigate the entrepreneurial landscape and
        pursue your pathway to success, all within a transformative learning
        experience that fosters innovation and empowers you to thrive in product
        development and entrepreneurship!
      </p>
      <a href="/apply"><button class="btn btn-add">Apply</button></a>
    </div>
  </section>

  <WhatToExpect />
</Layout>
