---
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/contact.scss";
---

<Layout
  title="Contact Us"
  description="Contact us to get the most up to date information, or to get answers to any of your questions"
>
  <Showcase
    image="/images//hero/tinywebp/contact.webp"
    overlayLight={true}
    heading="Contact Us"
  />

  <!-- Form -->
  <section class="contact-form">
    <div class="container">
      <div class="form">
        <!-- <div class="image"><img src={image} alt="" /></div> -->
        <form id="form" name="contact" method="POST" data-netlify="true">
          <h2>Get In Touch</h2>
          <input type="text" name="name" placeholder="FULL NAME*" id="name" />
          <input type="email" name="email" placeholder="EMAIL*" id="email" />
          <textarea name="message" placeholder="MESSAGE*" id="message"
          ></textarea>

          <button class="btn btn-secondary" type="submit" id="formBtn"
            >SUBMIT</button
          >
        </form>
      </div>
    </div>
  </section>
</Layout>

<script>
  const form = document.getElementById("form") as HTMLFormElement;
  const emailInput = document.getElementById("email") as HTMLFormElement;
  const nameInput = document.getElementById("name") as HTMLFormElement;
  const messageInput = document.getElementById("message") as HTMLFormElement;
  const button = document.getElementById("formBtn") as HTMLFormElement;

  button.addEventListener("click", (e) => {
    e.preventDefault();

    // Check if email, name, and message inputs have some content
    if (
      !emailInput.value ||
      emailInput.value.trim() === "" ||
      !nameInput.value ||
      nameInput.value.trim() === "" ||
      !messageInput.value ||
      messageInput.value.trim() === ""
    ) {
      alert("Please fill out all fields");
    } else {
      // Submit the form
      form.submit();
    }
  });
</script>
