---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const container = "container";
---

<Layout title="FL2F">
  <Header />
  <div class="container">
    <h1>Hello there</h1>
  </div>
</Layout>
