---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import VideoEmbed from "../components/VideoEmbed.astro";
import "../styles/global.scss";
import "../styles/index.scss";
---

<Layout title="FL2F">
  <Showcase />

  <section class="fl2f">
    <h2>What is FL2F?</h2>
    <p>
      From Lab 2 Fulfillment (FL2F) is a purpose-driven program that teaches
      women in science, engineering, technology, math (STEM), and Health how to
      transform your ideas into products and companies.
    </p>
    <p>
      Learn in small interactive sessions alongside one-on-one coaching to
      ideate and pivot your idea into a business. You will learn how to overcome
      hurdles, find supporters, and build your own strategic plan and alliances.
    </p>
  </section>

  <VideoEmbed />
</Layout>
