---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const container = "container";
---

<Layout title="FL2F">
  <Header />
  <h1 class="container">Hello there</h1>
</Layout>
