---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Testimonials from "../components/Testimonials.astro";
---

<Layout title="Recommendations">
  <Showcase
    image="/images/showcase.avif"
    overlayLight={true}
    verticalImage="/images/showcase-vertical.jpeg"
    heading="Recommendations"
  />

  <div>
    <Testimonials isFeatured={false} recommendations={true} title="" />
  </div>
</Layout>
