---
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Testimonials from "../components/Testimonials.astro";
import "../styles/testimonials.scss";
---

<Layout title="Testimonials">
  <Showcase
    image="/images/hero/testimonials.jpeg"
    overlayLight={true}
    heading="Testimonials"
  />
  <section class="testimonials-video">
    <div class="container">
      <h2>My FL2F Journey, (Alumni, 2020)</h2>

      <iframe
        src="https://www.youtube-nocookie.com/embed/gUwa3cEYrNE"
        frameborder="0"
        title="FL2F Alumni Testimonial Video"
        frameborder="0"
        allowfullscreen></iframe>
    </div>
  </section>

  <!-- Testimonials -->
  <div>
    <Testimonials isFeatured={false} title="What Do Our Alumni Say?" />
  </div>
</Layout>
