---
import "../styles/card.scss";
export interface Props {
  description?: string;
  participantImage?: string;
  review?: string;
}
const { participantImage, review, description } = Astro.props as Props;
---

<div class="card">
  <div class="left">
    <div class="participant">
      <img src={participantImage} alt="image of participant" loading="lazy" />
      <p class="bio"></p>
    </div>
  </div>
  <div class="right">
    <div class="description">
      {description}
    </div>
    <div class="review">
      {review}
    </div>
  </div>
</div>
