---
import "../styles/card.scss";
export interface Props {
  title?: string;
  participantImage?: string;
  review?: string;
}
const { participantImage, review, title } = Astro.props as Props;
---

<div class="card">
  <div class="left">
    <img src={participantImage} alt="image of participant" loading="lazy" />
  </div>
  <div class="right">
    <p class="title">
      {title}
    </p>
    <p class="review">
      "{review}"
    </p>
  </div>
</div>
