---
import { getFAQ } from "../lib/fetchFAQ";

import "../styles/career.scss";

// Make sure faqDocument.faqs exists and is an array
const faqArray = await getFAQ();

import "../styles/career.scss";
---

<section class="career">
    {faqArray.map((faqDocument) => (
        faqDocument.faqs.map((faq) => (
            <div class="container"> {/* Add a unique key */}
                <div class="title">
                    <div class="left">
                        <h2>{faq.question}</h2> {/* Accessing question */}
                    </div>
                </div>
                <div class="content">
                    <div class="left">
                        <p>{faq.answer}</p> {/* Accessing answer */}
                    </div>
                </div>
            </div>
        ))
    ))}
</section>
<!-- <section class="career">
    {faqArray.map((faqDocument) => (
        <>
            <div class="container">
                <div class="title">
                    <div class="left">
                        <h2>Fake title</h2> {/* Title for the whole block */}
                    </div>
                </div>
                {faqDocument.test.map((testItem) => (
                    <div class="content"> {/* Key added here */}
                        <div class="left">
                            <PortableText value={testItem} />
                        </div>
                    </div>
                ))}
            </div>
        </>
    ))}
</section> -->


