---
import { getFAQ } from "../lib/fetchFAQ";

import "../styles/career.scss";

// Make sure faqDocument.faqs exists and is an array
const faqArray = await getFAQ();

import "../styles/career.scss";
---

<section class="career">
    {faqArray.map((faqDocument) => (
        faqDocument.faqs.map((faq) => (
            <div class="container"> {/* Add a unique key */}
                <div class="title">
                    <div class="left">
                        <h2>{faq.question}</h2> {/* Accessing question */}
                    </div>
                </div>
                <div class="content">
                    <div class="left">
                        {faq.answer.split("\n").map((line) => (
                            <p>{line}</p>
                        ))}
                    </div>
                </div>
            </div>
        ))
    ))}
</section>