---
import "../styles/footer.scss";
import linkedin from "../images/linkedin.png";
---

<footer class="footer">
  <div>
    <p>© 2023</p>
    <p>All Rights Reserved to Technologies & Beyond, Inc</p>
  </div>
  <div class="right">
    <p>For general inquiries, please contact us:</p>
    <a href="mailto:theteam@fl2f.ca"> theteam@fl2f.ca</a>
    <img src={linkedin} alt="linkedin" loading="lazy" />
  </div>
</footer>
