---
import "../styles/header.scss";
import HeaderLink from "./HeaderLink.astro";
const logo = "/images/logos/FL2F-logo.webp";
---

<header class="header">
  <div class="logo">
    <a href="/">
      <img
        src={logo}
        alt="FL2F logo"
        loading="eager"
        fetchpriority="high"
        decoding="async"
      />
    </a>
  </div>

  <label for="open-menu" class="hidden"></label>
  <input id="open-menu" class="toggler" type="checkbox" />
  <div id="hamberger" class="hamberger"><div></div></div>

  <nav class="menu">
    <HeaderLink class="menu-link" href="/">Home</HeaderLink>
    <HeaderLink class="menu-link" href="https://survey.fl2f.ca/apply">Apply</HeaderLink>
    <HeaderLink class="menu-link" href="/learn-more">Our Program</HeaderLink>
    <HeaderLink class="menu-link" href="/founder">Our Founder</HeaderLink>
    <HeaderLink class="menu-link" href="/testimonials">Testimonials</HeaderLink>
    <HeaderLink class="menu-link" href="/recommendations">
      Recommendations
    </HeaderLink>
    <HeaderLink class="menu-link" href="/news">News & Events</HeaderLink>
    <HeaderLink class="menu-link" href="/careers">Careers</HeaderLink>
    <HeaderLink class="menu-link" href="/faq">FAQ</HeaderLink>
    <HeaderLink class="menu-link" href="/contact">Contact Us</HeaderLink>

    <script>
      const open = document.getElementById("open-menu") as HTMLInputElement;
      const hamberger = document.getElementById("hamberger") as HTMLElement;
      const links = document.querySelectorAll(
        ".menu-link"
      ) as NodeListOf<Element>;

      hamberger.addEventListener("click", () => {
        open.checked = !open.checked;
      });

      links.forEach((link) => {
        link.addEventListener("click", () => {
          open.checked = false;
        });
      });
    </script>
  </nav>
</header>
