<header class="header">
  <div class="container">
    <div class="logo">
      <a href="index.html">
        <img src="../images/FL2F-logo.png" alt="logo" />
      </a>
    </div>
    <nav>
      <ul>
        <!-- <li><a href="index.html">Home</a></li> -->
        <li><a href="apply.html">Apply</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="founder.html">Our Founder</a></li>
        <li><a href="testimonials.html">Testimonials</a></li>
        <li><a href="recommendations.html">Institute Recommendations</a></li>
        <li><a href="news.html"></a>News & Events</li>
        <li><a href="careers.html"></a>Careers</li>
        <li><a href="faq.html"></a>FAQ</li>
        <li><a href="contact.html"></a>Contact Us</li>
      </ul>
    </nav>
  </div>
</header>
