---
import "../styles/header.scss";
import logo from "../images/FL2F-logo.png";
---

<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src={logo} alt="logo" />
      </a>
    </div>
    <nav>
      <ul class="nav-items">
        <li><a href="/apply"></a>Apply</li>
        <li><a href="/about"></a>About</li>
        <li><a href="/founder"></a>Our Founder</li>
        <li><a href="/testimonials"></a>Testimonials</li>
        <li>
          <a href="/contact"></a>Institute Recommendations
        </li>
        <li><a href="/success"></a>Success Stories</li>
        <li><a href="/news"></a>News & Events</li>
        <li><a href="/careers"></a>Careers</li>
        <li><a href="/faq"></a>FAQ</li>
        <li><a href="/contact"></a>Contact Us</li>
      </ul>
    </nav>
  </div>
</header>
