---
import "../styles/header.scss";
---

<header class="header">
  <div class="container">
    <div class="logo">
      <a href="index.html">
        <img src="src/images/FL2F-logo.png" alt="logo" />
      </a>
    </div>
    <nav>
      <ul class="nav-items">
        <!-- <li class="nav-item"><a href="index.html">Home</a></li> -->
        <!-- <li class="nav-item"><a href="apply.html">Apply</a></li>
        <li class="nav-item"><a href="about.html">About</a></li>
        <li class="nav-item"><a href="founder.html">Our Founder</a></li>
        <li class="nav-item"><a href="testimonials.html">Testimonials</a></li>
        <li class="nav-item">
          <a href="recommendations.html">Institute Recommendations</a>
        </li> -->
        <li><a href="apply.html"></a>Apply</li>
        <li><a href="about.html"></a>About</li>
        <li><a href="founder.html"></a>Our Founder</li>
        <li><a href="testimonials.html"></a>Testimonials</li>
        <li>
          <a href="contact.html"></a>Institute Recommendations
        </li>
        <li><a href="success.html"></a>Success Stories</li>
        <li><a href="news.html"></a>News & Events</li>
        <li><a href="careers.html"></a>Careers</li>
        <li><a href="faq.html"></a>FAQ</li>
        <li><a href="contact.html"></a>Contact Us</li>
      </ul>
    </nav>
  </div>
</header>
