---
import "../styles/learn-more-btn.scss";
---

<section class="learn-more-btn">
  <div class="container">
    <h2>
      Do you want to take the lead and be in charge of your success and
      contribution?
    </h2>
    <a href="/about"><button class="btn btn-add">Yes!</button></a>
  </div>
</section>
