---
import "../styles/showcase.scss";
import showcaseImg from "../images/showcaseImg.avif";
export interface Props {
  heading?: string;
  text?: string;
  showExtra?: boolean;
}
const {
  heading = "Women in STEM/Health creating more impact and fulfilment - we make it happen!",
  showExtra = false,
} = Astro.props as Props;
---

<section class="showcase">
  <div class="showcase-image">
    <img src={showcaseImg} alt="showcase Image" loading="eager" />
  </div>

  <div class="showcase-text">
    <div class="container">
      <h1>{heading}</h1>

      <button class="btn btn-add">Apply Now!</button>
    </div>
  </div>
</section>
