---
import "../styles/showcase.scss";
export interface Props {
  image: string;
  heading?: string;
  text?: string;
  showExtra?: boolean;
  overlay?: boolean;
  overlayLight?: boolean;
}
const {
  image,
  heading = "Women in STEM/Health creating more impact and fulfilment - we make it happen!",
  overlay,
  overlayLight,
} = Astro.props as Props;
---

<section class="showcase">
  {overlay && <div class="overlay" />}
  {overlayLight && <div class="overlay-light" />}
  <div class="showcase-image">
    <img src={image} alt="showcase Image" loading="eager" />
  </div>

  <div class="container">
    <div class="showcase-text">
      <h1>{heading}</h1>

      <button class="btn btn-add">Apply</button>
    </div>
  </div>
</section>
