---
import "../styles/testimonials.scss";

import * as featured1 from "../content/testimonials/1-DrDiMartino.md";
import * as featured2 from "../content/testimonials/2-DrHeyne.md";
import * as featured3 from "../content/testimonials/3-DrShefi.md";
import * as featured6 from "../content/testimonials/6-DrFear.md";
import * as featured5 from "../content/testimonials/5-DrCuriel.md";
import * as featured4 from "../content/testimonials/4-DrHazay.md";
import Card from "./Card.astro";

// //  first success
// import vitaa from "../images/logos/vitaa-logo.png";
// import drMartino from "../images/people/dr.elena-di-martino.png";

export interface Props {
  isFeatured: boolean;
  title?: string;
}

const { title, isFeatured } = Astro.props as Props;

//get Markdown files for featured, current, and completed projects
const featuredArr = [
  featured1,
  featured2,
  featured3,
  featured4,
  featured5,
  featured6,
];

let mapArr: any[] = featuredArr;

if (!isFeatured) {
  const testimonialsArr = await Astro.glob("../content/testimonials/*.md");
  mapArr = testimonialsArr;
} else {
  mapArr = featuredArr;
}
---

{console.log("mapArr", mapArr)}
<section class="testimonials">
  <div class="container">
    <h2>
      We thrive on cultivating the skills women need to start their own
      businesses.
    </h2>
    <p>Check out some of what our past participants have created!</p>

    <div class="grid">
      {
        mapArr.map((project) => {
          return (
            <Card
              participantImage={project.frontmatter.image}
              review={project.frontmatter.review}
              title={project.frontmatter.title}
            />
          );
        })
      }
    </div>
  </div>
</section>
