---
import "../styles/testimonials.scss";

// home page featured testimonials
import * as featured1 from "../content/testimonials/1-DrDiMartino.md";
import * as featured2 from "../content/testimonials/2-DrHeyne.md";
import * as featured3 from "../content/testimonials/3-DrShefi.md";
import * as featured5 from "../content/testimonials/5-DrCuriel.md";
import * as featured4 from "../content/testimonials/4-DrHazay.md";
import * as featured6 from "../content/testimonials/6-DrFear.md";

import Card from "./Card.astro";

export interface Props {
  isFeatured: boolean;
  title?: string;
  recommendations?: boolean;
}

const { title, isFeatured, recommendations } = Astro.props as Props;

//get Markdown files for featured, current, and completed projects
const featuredArr = [
  featured1,
  featured2,
  featured3,
  featured4,
  featured5,
  featured6,
];

let mapArr: any[] = featuredArr;
if (recommendations && !isFeatured) {
  const recommendedArr = await Astro.glob("../content/recommended/*.md");
  mapArr = recommendedArr.sort((a, b) => {
    return a.frontmatter.order - b.frontmatter.order;
  });
} else if (!isFeatured) {
  const testimonialsArr = await Astro.glob("../content/testimonials/*.md");
  mapArr = testimonialsArr.sort((a, b) => {
    return a.frontmatter.order - b.frontmatter.order;
  });
} else {
  mapArr = featuredArr;
}
---

<section class="testimonials">
  <div class="container">
    <h2>
      {title}
    </h2>
    {
      !recommendations && (
        <p>Check out some of what our past participants have say!</p>
      )
    }

    <div class="grid">
      {
        mapArr.map((project) => {
          return (
            <Card
              participantImage={project.frontmatter.image}
              review={project.frontmatter.review}
              title={project.frontmatter.title}
            />
          );
        })
      }
    </div>
    {
      isFeatured && (
        <div class="read-more">
          <a href="/testimonials" class="button">
            Read More
          </a>
        </div>
      )
    }
  </div>
</section>
