---
import "../styles/videoEmbed.scss";
// import { YouTube } from "@astro-community/astro-embed-youtube";
---

<section class="video">
  <h2>Take a closer look at what we do</h2>
  <iframe
    src="https://www.youtube.com/embed/MatqwunjQXQ"
    title="YouTube video player"
    frameborder="0"
    allowfullscreen></iframe>
</section>
