---
import "../styles/what-to-expect.scss";
---

<section class="what-to-expect">
  <div class="container">
    <div class="text">
      <div class="expect">
        <h3>What to Expect:</h3>
        <p>
          Our upcoming FL2F Workshop is all online and begins on Monday, <span
            >October 30, 2023</span
          > and ends on <span>Thursday, November 16, 2023</span>. A detailed
          schedule is on the right
        </p>
      </div>
      <div class="eligibility">
        <h3>Eligibility Requirements:</h3>
        <ul>
          <li><span>Background/education in STEM or health</span></li>
          <li>
            <span>
              Willing to commit to approximately 10 hours per week for the three
              weeks of the program. This includes an overall 21 hours of formal
              videos, group meetings and 1/1 coaching. In addition your homework
              will require between 10-20 hours of time commitment over these
              weeks
            </span>
          </li>
          <li><span>Be an active participant during the program</span></li>
          <li><span>Have a computer with a working webcam</span></li>
          <li>
            <span>
              Be ready the commit to confidentiality with the other participants
            </span>
          </li>
        </ul>
      </div>
      <div class="included">
        <h3>What's Included:</h3>
        <ul>
          <li><span>20+ hours of program material</span></li>
          <li>
            <span> 6 collaborative group meetings</span>
          </li>
          <li><span>2 individual coaching meetings</span></li>
          <li><span>2 Q&A sessions</span></li>
          <li>
            <span> 2 guest talks (optional)</span>
          </li>
        </ul>
      </div>
      <div class="topics">
        <h3>Topics You Will Learn:</h3>
        <ol>
          <li><span>Intellectual Property</span></li>
          <li>
            <span>Creative Problem Solving</span>
          </li>
          <li><span>Market and Customer Development</span></li>
          <li><span>Competitive Advantage</span></li>
          <li>
            <span>Entrepreneurial Realities</span>
          </li>
          <li><span>Intellectual Property</span></li>
          <li>
            <span>Creative Problem Solving</span>
          </li>
          <li><span>Market and Customer Development</span></li>
          <li><span>Competitive Advantage</span></li>
          <li>
            <span>Entrepreneurial Realities</span>
          </li>
        </ol>
      </div>
    </div>
    <div class="schedule">
      <h3>Schedule</h3>
    </div>
  </div>
</section>
