---
import "../styles/what-to-expect.scss";
import schedule1 from "../images/schedule1.png";
import schedule2 from "../images/schedule2.png";
---

<section class="what-to-expect">
  <div class="container">
    <!-- Left Side -->
    <div class="text">
      <div class="expect">
        <h3>What to Expect:</h3>
        <p>
          Our upcoming FL2F Workshop is all online and begins on <span
            >Monday, October 30, 2023</span
          > and ends on <span>Thursday, November 16, 2023</span>. A detailed
          schedule is on the right
        </p>
      </div>
      <div class="eligibility">
        <h3>Eligibility Requirements:</h3>
        <ul>
          <li><span>Background/education in STEM or health</span></li>
          <li>
            <span>
              Willing to commit to approximately 10 hours per week for the three
              weeks of the program. This includes an overall 21 hours of formal
              videos, group meetings and 1/1 coaching. In addition your homework
              will require between 10-20 hours of time commitment over these
              weeks
            </span>
          </li>
          <li><span>Be an active participant during the program</span></li>
          <li><span>Have a computer with a working webcam</span></li>
          <li>
            <span>
              Be ready the commit to confidentiality with the other participants
            </span>
          </li>
        </ul>
      </div>
      <div class="included">
        <h3>What's Included:</h3>
        <ul>
          <li><span>20+ hours of program material</span></li>
          <li>
            <span> 6 collaborative group meetings</span>
          </li>
          <li><span>2 individual coaching meetings</span></li>
          <li><span>2 Q&A sessions</span></li>
          <li>
            <span> 2 guest talks (optional)</span>
          </li>
        </ul>
      </div>
      <div class="topics">
        <h3>Topics You Will Learn:</h3>
        <ol>
          <li><span>Intellectual Property</span></li>
          <li>
            <span>Creative Problem Solving</span>
          </li>
          <li><span>Market and Customer Development</span></li>
          <li><span>Competitive Advantage</span></li>
          <li>
            <span>Entrepreneurial Realities</span>
          </li>
          <li><span>Implicit Bias</span></li>
          <li>
            <span>Running a Lean Start-up</span>
          </li>
          <li><span>Pitching your Idea and Securing Funding</span></li>
          <li><span>How to Deal with Setbacks and Conflicts</span></li>
          <li>
            <span>Resilience and Paths to Success</span>
          </li>
        </ol>
      </div>
      <div class="registration">
        <h3>Registration:</h3>
        <p>
          Please submit an <a href="/apply">application</a> if you wish to participate
          in our upcoming program. We will review your application and contact you
          if approved.
        </p>
        <p>Questions? Please refer to our <a href="/faq">FAQ Page</a></p>
      </div>
      <div class="costs">
        <h3>Costs & Deadlines:</h3>
        <p>
          Once your application is approved, you will be sent an email regarding
          payment.
        </p>
        <p class="early-bird">
          <em>
            Early-bird registration - $2095 CAD (to qualify for early-bird, full
            payment is to be received by Aug 2)</em
          >
        </p>
        <p class="regular">Regular registration - $2495 CAD</p>
        <p>
          You will be required to pay a <strong>$595 CAD deposit fee</strong> to
          hold your spot.
        </p>
        <p>
          The remaining balance is to be paid by <strong>August 24</strong>.
        </p>
        <p><strong>Deadline to apply is August 24, 2023.</strong></p>
      </div>
      <div class="cancelation">
        <h3>Cancelation Policy:</h3>
        <p>
          You can cancel and receive a full refund (minus $100 CAD) until
          September 15. After <strong>September 15</strong>, no refunds can be
          granted.
        </p>
      </div>
    </div>
    <!-- Right Side -->
    <div class="schedule">
      <h3>Schedule</h3>
      <p class="download">
        <a
          href="https://drive.google.com/file/d/12CtCCn2e0cEmPMg7LzUxMFduZig8U21Y/view"
          target="_blank"
          rel="noreferrer">Download Schedule (PST)</a
        > | <a
          href="https://drive.google.com/file/d/1lJsHaTL1Fxbxs5rTX4jRfrwOpMZw74ZU/view"
          target="_blank"
          rel="noreferrer">Download Schedule (MST)</a
        >
      </p>
      <p class="download">
        <a
          href="https://drive.google.com/file/d/1gXpcmq93JiGvFMYwDM61RfXYL9enJtLr/view"
          target="_blank"
          rel="noreferrer">Download Schedule (CST)</a
        > | <a
          href="https://drive.google.com/file/d/1FDI9XtP1cWyzcIrUVW9XATu2qWxRaQ8q/view"
          target="_blank"
          rel="noreferrer">Download Schedule (EST)</a
        >
      </p>
      <p>Times Displayed In MT</p>
      <div class="photos">
        <img src={schedule1} alt="example schedule part 1" />
        <img src={schedule2} alt="example schedule part 2" />
      </div>
      <div class="sub-schedule">
        <p>
          <strong
            >*Following the group meeting, participants are required to watch
            online videos and complete assigned homework before the next group
            meeting.</strong
          >
        </p>
        <p>
          <strong
            >**Each participant will be assigned a 25-minute time slot on either
            of the two coaching dates.</strong
          >
        </p>
      </div>
      <div class="instructors">
        <h3>Instructor:</h3>
        <p>
          Read about Dr. Orly Yadid-Pecht on the <a href="/founder"
            >Our Founders</a
          > page
        </p>
      </div>
    </div>

    <div class="results">
      <h3>Tangible Results</h3>
      <div class="flex">
        <div class="num">
          <h2>80%</h2>
          <p>
            of participants had a significant increase in Intellectual Property
            knowledge and Creative Thinking
          </p>
        </div>
        <div class="num">
          <h2>90%</h2>
          <p>
            of participants saw increase in skills and knowledge in all
            categories
          </p>
        </div>
        <div class="num">
          <h2>100%</h2>
          <p>
            of participants developed their networks and alliance building
            capabilities
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
