---
import "../styles/what-to-expect.scss";
---

<section class="what-to-expect">
  <div class="container">
    <div class="text">
      <div class="expect">
        <h3>What to Expect:</h3>
        <p>
          Our upcoming FL2F Workshop is all online and begins on Monday, <span
            >October 30, 2023</span
          > and ends on <span>Thursday, November 16, 2023</span>. A detailed
          schedule is on the right
        </p>
      </div>
      <div class="eligibility">
        <h3>Eligibility Requirements:</h3>
        <ul>
          <li>Background/education in STEM or health</li>
          <li>
            Willing to commit to approximately 10 hours per week for the three
            weeks of the program. This includes an overall 21 hours of formal
            videos, group meetings and 1/1 coaching. In addition your homework
            will require between 10-20 hours of time commitment over these weeks
          </li>
          <li>Be an active participant during the program</li>
          <li>Have a computer with a working webcam</li>
          <li>
            Be ready the commit to confidentiality with the other participants
          </li>
        </ul>
      </div>
    </div>
    <div class="schedule">
      <h3>Schedule</h3>
    </div>
  </div>
</section>
